.img-logo {
    width: 390px;
    height: 270px;
}

h2,
h3 {
    font-family: 'Ysabeau SC', sans-serif;
}

hr {
    width: 420px;
    color: #1A1D21;
}

nav {
    height: fit-content;
}

.img-logo-bg {
    width: 380px;
    height: 320px;
}

.nav-items {
    width: 220px;
}

.nav-color {
    background-color: #1A1D21;
}

.nav-href {
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
    transition: color 0.5s ease;
}

.container-fluid {
    padding-left: 0%;
    padding-right: 0%;
    height: 20px;
}

.nav-href:hover {
    color: #EDC243;
}

.col-sm-5 {
    padding-left: 20%;
}

p {
    font-family: 'Ubuntu', sans-serif;
}

.icon-container {
    display: flex;
    align-items: center;
}

.icon-text {
    margin-left: 5px;
    color: #1A1D21;
}

.icon-text:hover {
    color: #EDC243;
}

.img-cardapio {
    width: 300%;
}